<div>
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Mongo Scraper</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="">Home</a></li>
                <li><a href="">Saved Articles</a></li>
                <a class="waves-effect waves-light btn">Scrape New Articles</a>
            </ul>
        </div>
    </nav>

    <div class="Jumbotron">
        <h1>Mongo Scraper</h1>
        <h6>New York Times Edition</h6>
    </div>
    <div class="row">
        {{#each articles}}
            <div class="row">
                <div class="col s12">
                    <div class="card blue">
                        <div class="card-header">
                            <span class="card-title">{{this.Headline}}</span>
                            <a class="waves-effect waves-light btn">Article Notes</a>
                            <a class="waves-effect waves-light btn">Delete From Saved</a>
                        </div>
                        <div class="card-content">
                            <p>{{this.Summary}}</p>
                        </div>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>